<header class="header">
    <a href="#" class="header__link"><img src="assets/img/nix_new_logo.png" class="header-logo" alt="Nixsolutions logo" /></a>
    <a [routerLink]="['/emploees/create']"><button class="btn btn-add"><span>Add resume</span></button></a>
</header>
<main class="main">
    <ul class="resume__list">
        <li class="resume__item">
            <a href="#" class="resume__title">
               Ivan Ivanov
           </a>
            <button class="btn btn-remove">Remove</button>
        </li>
        <li class="resume__item">
            <a href="#" class="resume__title">
               Ivan Ivanov
           </a>
            <button class="btn btn-remove">Remove</button>
        </li>
        <li class="resume__item">
            <a href="#" class="resume__title">
               Ivan Ivanov
           </a>
            <button class="btn btn-remove">Remove</button>
        </li>
        <li class="resume__item">
            <a href="#" class="resume__title">
               Ivan Ivanov
           </a>
            <button class="btn btn-remove">Remove</button>
        </li>
        <li class="resume__item">
            <a href="#" class="resume__title">
               Ivan Ivanov
           </a>
            <button class="btn btn-remove">Remove</button>
        </li>
        <li class="resume__item">
            <a href="#" class="resume__title">
               Ivan Ivanov
           </a>
            <button class="btn btn-remove">Remove</button>
        </li>
    </ul>
</main>
