
<header class="header" *ngIf="emploee">
    <div class="personal-info">
        <p class="personal-info__name"> {{ emploee.firstName }} </p>
        <p class="personal-info__surname">{{ emploee.lastName }}</p>
    </div>
    <div class="personal-photo"><img src="assets/img/nix_new_logo.png" alt="" /></div>
</header>
<main class="main" *ngIf="emploee">
    <table class="table">
        <tbody class="table__body">
           <tr class="table__row row--bold">
                <td class="row__title table__cell">
                    Role
                </td>
                <td class="row__descr table__cell">
                    {{ emploee.role }}
                </td>
            </tr>
            <tr class="table__row row">
                <td class="row__title table__cell">
                    Technical Expertise
                </td>
                <td class="row__descr table__cell">
                    {{ emploee.technicalExpertise }}
                </td>
            </tr>
            <tr class="table__row row">
                <td class="row__title table__cell">
                    Tools & Frameworks
                </td>
                <td class="row__descr table__cell">
                    {{ emploee.skills }}
                </td>
            </tr>
            <tr class="table__row row">
                <td class="row__title table__cell">
                    Communication
                </td>
                <td class="row__descr table__cell">
                  {{ emploee.communication }}
                </td>
            </tr>
            <tr class="table__row row">
                <td class="row__title table__cell">
                    Leadership
                </td>
                <td class="row__descr table__cell">
                  {{ emploee.leadership }}
                </td>
            </tr>
            <tr class="table__row row">
                <td class="row__title table__cell">
                    Education
                </td>
                <td class="row__descr table__cell">
                    {{ emploee.education }}
                </td>
            </tr>
        </tbody>
    </table>
    <a [routerLink]="['edit']"><button class="btn btn-edit"><span>Edit resume</span></button></a>
</main>
